<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>QuizAplication</title>
	<link rel="stylesheet" href="index.css">
</head>
<body>


<h1>Welcome to Admin Page</h1>
    <div class="div1">
        <div>
            <ul>
                <li style="margin-top: 10px;">
                   <button>
                    <a href="questions/create">CreateQuestion</a>
                   </button>
                </li>

                <li style="margin-top: 10px;">
                    <button>
                        <a href="questions/all">See All Questions</a>
                    </button>
                 </li>

                 <li style="margin-top: 10px;">
                    <button>
                        <a href="quizzes/all">See All Quizzes</a>
                    </button>
                 </li>
 
                 <li style="margin-top: 10px;">
                     <button>
                        <a href="quizzes/add">Create Quiz</a>
                     </button>
                  </li>
            </ul>
        </div>
        
    </div>
</body>
</html>