<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>QuizApp</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<h1 style="text-align:center;">Update Question</h1>

<div class="container">
       <div class="row mt-1">
           <div class="col-md-6 offset-md-3"></div>

           
   <form action="#" th:action="@{'/questions/update/'+${question.id}}" th:method="put">
  <div class="mb-2">
    <label for="exampleInputEmail1" class="form-label">Problem Statement</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="problemStatement" th:value="${question.problemStatement}" required="true">
  </div>
  <div class="mb-2">
    <label for="exampleInputPassword1" class="form-label">Option1</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="op1" th:value="${question.op1}" required="true">
  </div>
  
   <div class="mb-2">
    <label for="exampleInputPassword1" class="form-label">Option2</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="op2" th:value="${question.op2}" required="true">
  </div>
  
   <div class="mb-2">
    <label for="exampleInputPassword1" class="form-label">Option3</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="op3" th:value="${question.op3}" required="true">
  </div>
  
   <div class="mb-2">
    <label for="exampleInputPassword1" class="form-label">Option4</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="op4" th:value="${question.op4}" required="true">
  </div>
  
   <div class="mb-2">
    <label for="exampleInputPassword1" class="form-label">Answer</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="ans" th:value="${question.ans}" required="true">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


       </div>
   </div>

</body>
</html>